<!--
This app is completely self-contained. You don't even need a web server, you can just open the html
file in a browser from your local machine and run it directly.

@author Kip Robinson, https://github.com/kiprobinson
-->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>QuickReplace</title>
<link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABl0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMC4xOdTWsmQAAAG+SURBVDhPYzjw//+u3783f/++9tOnZe/eLXj1atazZ5MfPuy9e7ft5s2Gq1erLlwoPnMm98SJtCNHEg4cYCBJddTu3QwkqQ7evp0BqHre48feeXnSGhoMYCCqpOSQlVVy7Bimat/NmxmAZgNVA9X5lJQ0nDhRefQoUDWQa5aQgKnabf16BqBLIGanL1oEcUn0nDlArrCyMlA1kAEBXGJiBhUVDqtWMQDdzcTCAhSqO30a4u6c/fuBXCZmZlCYMDBAzDZpbmbm4LBatowB6EuQCQwMyL6EiIDChIEBqNp1zRqd0lIeJSXjRYsYgGECkYb7MhGsDghAYQIGQLOlfHz0p07VnTePAehuITk5oGjYzJkQX3pMmADk8khJgcKEgcFm/nwuWVn1mhqgarWZM0EuMQgKAkqYpaTEbNoUunq1bmwskKsWGQkKEwYGoLu1Ozs5pKVV+vsVpk5lALo7a88eo+hoUQ0NTiEhoAoIALobFCYMDEB3A82WzsvjMTOTmjiRATN2WLm5geqs584Fmg1RDXQJ0GygauHeXgbM2NFITWViZWVkZsZUzdvRwYAZl0CXYDUbqJqtpYWBNNUNDQAdSWk4PGhQVwAAAABJRU5ErkJggg=="/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=block" rel="stylesheet" />
<style type="text/css">
/* Copied from: http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select,button{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
/* --- end Yahoo reset script --- */

*{box-sizing: border-box}

html {
  background-color: #cdc;
}
body {
  font-family: "Open Sans",sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  padding: 1px;
  padding-right: 5px;
}
textarea,input[type=text] {
  font-family: "Fira Code",monospace,serif;
  font-size: 0.8em;
  font-weight: 300;
  border: 1px solid black;
  margin: 1px;
  resize: none;
}
input {
  padding-left: 2px;
  padding-right: 2px;
}
strong,b {
  color: #666;
  font-weight: 700;
}
#input, #output {
  width: 100%;
  height: 250px;
  border: 1px solid black;
  padding: 3px;
}
#output {
  color: #888;
}
#copyright {
  text-align: center;
  font-size: 0.8em;
  font-weight: 300;
  padding-bottom: 2px;
}
textarea:focus, input[type=text]:focus {
  background-color: #ffb;
}
.example {
  font-size: 0.75em;
  color: #888;
}
.example, label {
  white-space: nowrap;
}
.options-input {
  width: 1.75rem;
}
label.radio {
  margin-right: 0.75em;
}
.button {
  border: 1px solid black;
  background-color: #ccc;
  cursor: default;
  padding-left: 2px;
  padding-right: 2px;
}
.button:hover {
  background-color: #ffb;
}
.handle {
  cursor: move;
}
.disabled {
  opacity: 0.5;
}
td {
  padding-left: 2px;
  padding-right: 2px;
}
a, a:visited {
  color: blue;
}
</style>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script type="text/javascript">
//<![CDATA[ 

class BitWriter {
  bytes = [];
  offset = 0;
  
  /**
   * Returns number of bits in the stream currently.
   * @return {number}
   */
   getNumBits() {
    return this.bytes.length*8 + (this.offset > 0 ? this.offset - 8 : 0);
  }
  
  /**
   * Writes the given number of bits to the stream.
   * @param numBits Number of bits to write (max 32)
   * @param value {number} One-byte value to be written. If numBits is less than 8, the bits to
   *              be written should be in the lower bits. For example, `write(3, 0b10100010)` will
   *              only write the final three bits (010).
   */
  write(numBits, value) {
    numBits &= 0xff;
    if(numBits < 1 || numBits > 32)
      throw new Error(`Illegal numBits: ${numBits}`);
    
    //if writing more than one byte, recurseively write first byte, then the rest. (I could definitely optimize this)
    if(numBits > 8) {
      this.write(8, value >> (numBits - 8));
      this.write(numBits - 8, value);
      return;
    }
    
    //apply mask to ensure only desired bits are present
    value &= (1 << numBits) - 1;
    
    //amount of left shift in order to put the first bit immediately after the last bit in the stream
    const shift = 8 - numBits - this.offset;
    
    if(this.offset === 0) {
      //start a new byte. since we can never have more than 8 bits added, no chance of failing over into next byte.
      this.bytes.push(value << shift);
    }
    else if(shift >= 0) {
      //we are shifting left (or not shifting), which means this value fits into the last byte in the stream.
      this.bytes[this.bytes.length - 1] |= (value << shift);
    }
    else {
      //we have to shift right, which means some bits go onto the end of last byte, and remaining bits go onto a new byte.
      this.bytes[this.bytes.length - 1] |= (value >> -shift);
      this.bytes.push((value << (8 + shift)) & 0xff);
    }
    
    //logic to increment offset is always the same, regardless which of the above cases we fell into.
    this.offset = (this.offset + numBits) % 8;
  }
  
  /**
   * Returns the byte array generated by this stream.
   * The final byte may have padding.
   * @return {number[]}
   */
  getBytes() {
    return [...this.bytes];
  }
}

class BitReader {
  bytes;
  offset = 0;
  index = 0;
  
  /**
   * @param bytes {number[]} Array of one-byte values
   */
  constructor(bytes) {
    this.bytes = bytes.map(b => b & 0xff); //ensure we have valid bytes
  }
  
  /**
   * Returns the number of bits remaining in the stream.
   * @return {number}
   */
  getRemainingBits() {
    return Math.max(0, (this.bytes.length - this.index)*8 - this.offset);
  }
  
  /**
   * Reads the given number of bits from the stream.
   * @param numBits {number} Number of bits to read. Max=32
   * @return {number}
   */
  read(numBits) {
    numBits &= 0xff;
    if(numBits < 1 || numBits > 32)
      throw new Error(`Illegal numBits: ${numBits}`);
    
    if(numBits > 8)
      return ((this.read(8) << (numBits - 8)) | this.read(numBits - 8));
    
    if(numBits > this.getRemainingBits())
      throw new Error(`End of stream. Requested ${numBits} but remaining bits is ${this.getRemainingBits()}`);
    
    let value = 0;
    const mask = (1 << numBits) - 1;
    
    //how far to the right we need to shift the last byte to get the last bit to align with the first bit in the mask
    const shift = 8 - this.offset - numBits;
    
    if(shift >= 0) {
      //we can get all of the bits from the last byte
      value = (this.bytes[this.index] >> shift) & mask;
    }
    else {
      //we have to get some of the bits from the last byte, and some of the bits from the next byte
      value = ((this.bytes[this.index] << -shift) & mask)
            | (((this.bytes[this.index + 1]) >> (8 + shift)) & mask);
    }
    
    this.offset += numBits;
    if(this.offset >= 8) {
      this.offset -= 8;
      this.index++;
    }
    
    return value;
  }
}

class Base64Url {
  static base64chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-_';
  static map = [...Base64Url.base64chars];
  static revMap = Base64Url.map.reduce((m, c, i) => { m[c] = i; return m; }, {});
  
  constructor() {
    throw new Error('Cannot instantiate Base64Url');
  }
  
  /**
   * Encodes an array of bytes in base64-url encoding, with no trailing characters.
   * @param bytes {number[]}
   * @return {string} 
   */
  static encode(bytes) {
    const bitReader = new BitReader(bytes);
    let encoded = '';
    while(bitReader.getRemainingBits() >= 6)
      encoded += Base64Url.map[bitReader.read(6)];
    
    const finalBits = bitReader.getRemainingBits();
    if(finalBits > 0)
      encoded += Base64Url.map[bitReader.read(finalBits) << (6 - finalBits)];
    
    return encoded;
  }
  
  /**
   * Decodes base64-url string to an array of bytes.
   * @param encoded {string}
   * @return {number[]}
   */
  static decode(encoded) {
    if('string' !== typeof encoded || /[^a-zA-Z0-9\-_]/.test(encoded))
      throw new Error(`Not a valid Base64Url string: ${encoded}`);
    
    const bitWriter = new BitWriter();
    for(let c of encoded)
      bitWriter.write(6, Base64Url.revMap[c])
    
    return bitWriter.getBytes();
  }
}

class Permalink {
  static permalinkFields = {
    endOfFile:     { marker: 0b00000, type: 'flag' },
    type:          { marker: 0b00001, type: 'number', numBits: 3 },
    append:        { marker: 0b00010, type: 'string' },
    caseOption:    { marker: 0b00011, type: 'enum', numBits: 3, map: {upper: 0b000, lower: 0b001, title: 0b010} },
    caseSensitive: { marker: 0b00100, type: 'boolean' },
    //enabled:       { marker: 0b00101, type: 'boolean' },
    find:          { marker: 0b00110, type: 'string' },
    ignoreBlanks:  { marker: 0b00111, type: 'boolean' },
    invert:        { marker: 0b01000, type: 'boolean' },
    onlyMatched:   { marker: 0b01001, type: 'boolean' },
    options:       { marker: 0b01010, type: 'string' },
    prepend:       { marker: 0b01011, type: 'string' },
    regex:         { marker: 0b01100, type: 'string' },
    removeDupes:   { marker: 0b01101, type: 'boolean' },
    replace:       { marker: 0b01110, type: 'string' },
    replacement:   { marker: 0b01111, type: 'string' },
    reverse:       { marker: 0b10000, type: 'boolean' },
  };
  static permalinkFieldsReverse = null;
  
  /**
   * Workaround for Safari not supporting static initializer blocks yet.
   */
  static staticInitializer() {
    //only run the static initializer the first time
    if(Permalink.permalinkFieldsReverse !== null)
      return;
  
    Object.keys(Permalink.permalinkFields).forEach(key => {
      const field = Permalink.permalinkFields[key];
      if(field.type === 'enum')
        field.mapReverse = Object.keys(field.map).reduce((revMap, mapKey) => {
          revMap[field.map[mapKey]] = mapKey
          return revMap;
        }, {});
    });
    Permalink.permalinkFieldsReverse = Object.keys(Permalink.permalinkFields).reduce(
      (map, key) => {
        const field = Permalink.permalinkFields[key];
        map[field.marker] = {...field, key};
        return map;
      },
      {}
    );
  }
  
  /**
   * Returns a properly escaped/encoded permalink to the current filters.
   * @param filters {any[]} filters from the app
   * @return {string} url to permalink
   */
  static build(filters) {
    Permalink.staticInitializer();
    
    //legacy ("v1") code:
    //return '?filters=' + encodeURIComponent(JSON.stringify(filters));
    
    const writer = new BitWriter();
    for(const filter of filters) {
      //new filter always starts with type field followed by enabled marker
      writer.write(5, Permalink.permalinkFields.type.marker);
      writer.write(Permalink.permalinkFields.type.numBits, filter.type);
      writer.write(1, filter.enabled);
      
      //Loop through fields, write value to buffer
      for(const field of Object.keys(filter)) {
        //No need to preserve the id field
        if(field === 'id' || field === 'type' || field === 'enabled')
          continue;
        
        const fieldDef = Permalink.permalinkFields[field];
        if(!fieldDef) {
          console.error(`Unknown field: ${field}`);
          continue;
        }
        
        if(fieldDef.type === 'number') {
          writer.write(5, fieldDef.marker);
          writer.write(fieldDef.numBits, filter[field]);
        }
        else if(fieldDef.type === 'enum') {
          writer.write(5, fieldDef.marker);
          if(fieldDef.map[filter[field]] === undefined)
            console.error(`value not in map: ${filter[field]}`);
          writer.write(fieldDef.numBits, fieldDef.map[filter[field]]);
        }
        else if(fieldDef.type === 'boolean') {
          writer.write(5, fieldDef.marker);
          writer.write(1, filter[field]);
        }
        else if(fieldDef.type === 'string') {
          const utf8Bytes = new TextEncoder().encode(filter[field]);
          if(utf8Bytes.length >= (1 << 14))
            throw new Error(`String exceeds maximum length ${1<<14}`);
          
          writer.write(5, fieldDef.marker);
          
          //String format:
          // 1-bit flag, 0=short string (followed by 5-bit length), 1=long string (followed by 14-bit length)
          // length (numBits determined by above logic)
          // utf-8 bytes
          const isLongString = utf8Bytes.length >= (1 << 5);
          writer.write(1, isLongString);
          writer.write(isLongString ? 14 : 5, utf8Bytes.length);
          utf8Bytes.forEach(b => writer.write(8, b));
        }
        else {
          console.error('unknown field type: ' + fieldDef.type);
        }
      }
    }
    
    return '?filters=v2.' + (Base64Url.encode(writer.getBytes()));
  }
  
  /**
   * Parses permalink from URL href. Throws exception on parse error.
   * @param permalink {string} permalink url parameter
   * @return {any[]} parsed filters
   */
  static parse(permalink) {
    Permalink.staticInitializer();
    
    if(!permalink)
      return undefined;
    
    if(permalink.startsWith('v2.')) {
      const bytes = Base64Url.decode(permalink.replace(/^v2./, ''));
      const reader = new BitReader(bytes);
      const filters = [];
      let filter = null;
      let id = 0;
      
      while(reader.getRemainingBits() >= 5) {
        const marker = reader.read(5);
        const fieldDef = Permalink.permalinkFieldsReverse[marker];
        if(!fieldDef) {
          throw new Error(`No fieldDef for marker ${marker}`);
        }
        
        if(fieldDef.key === 'endOfFile') {
          if(filter)
            filters.push(filter);
          break;
        }
        else if (fieldDef.key === 'type') {
          if(filter)
            filters.push(filter);
          
          filter = {};
          filter.id = ++id; 
          filter.type = reader.read(fieldDef.numBits);
          filter.enabled = !!reader.read(1);
        }
        else if(fieldDef.type === 'number') {
          filter[fieldDef.key] = reader.read(fieldDef.numBits);
        }
        else if(fieldDef.type === 'boolean') {
          filter[fieldDef.key] = !!reader.read(1);
        }
        else if(fieldDef.type === 'enum') {
          filter[fieldDef.key] = fieldDef.mapReverse[reader.read(fieldDef.numBits)]
        }
        else if(fieldDef.type === 'string') {
          const isLongString = !!reader.read(1);
          const length = reader.read(isLongString ? 14 : 5);
          const utf8Bytes = [];
          for(let i = 0; i < length; i++)
            utf8Bytes.push(reader.read(8));
          
          filter[fieldDef.key] = new TextDecoder("utf-8").decode(new Uint8Array(utf8Bytes));
        }
        else {
          console.error(`Unknown fieldDef.type: ${fieldDef.type}`);
        }
        
      }
      
      return filters;
    }
    
    //legacy permalink - just url-encoded JSON
    return $.parseJSON(permalink);
  }
  
}

$(function() {
  //globals
  var _G = {
    PREPEND: 0,
    SIMPLE: 1,
    REGEX: 2,
    GREP: 3,
    SORT: 4,
    CASE: 5,
    maxFilterId: 0,
    filters: null,
    idleTimer: null,
    rb: loadResourceBundle(),
  };
  
  document.title = _G.rb.pageTitle;
  $('#addFilterLabel').text(_G.rb.addFilter);
  $('#addFilterPrepend').val(_G.rb.prependType);
  $('#addFilterSimple').val(_G.rb.simpleType);
  $('#addFilterRegex').val(_G.rb.regexType);
  $('#addFilterGrep').val(_G.rb.grepType);
  $('#addFilterSort').val(_G.rb.sortType);
  $('#addFilterCase').val(_G.rb.caseType);
  $('#permalink').text(_G.rb.permalink).attr('title', _G.rb.permalinkTooltip);
  $('#download').text(_G.rb.download).attr('title', _G.rb.downloadTooltip).toggle(supportsBlobUrl());
  $('#copy').text(_G.rb.copy).attr('title', _G.rb.copyTooltip);
  $('#copyUp').val(_G.rb.copyUp).attr('title', _G.rb.copyUpTooltip);
  
  //---------------------------------------------------------------------------
  // Initialization
  //---------------------------------------------------------------------------
  $('#input').focus();
  $('body').css('overflow', 'hidden');
  $('#filters').sortable({revert:100, helper:'clone', opacity: 0.75, handle: '.handle', axis: 'y', stop: updateFilters});
  
  try {
    _G.filters = Permalink.parse(getUrlParam('filters'));
  } catch (e) {}
  
  if(!$.isArray(_G.filters)) {
    _G.filters = [
      {type: _G.REGEX},
      {type: _G.SIMPLE},
      {type: _G.PREPEND}
    ]
  }
  
  
  initFilters(_G.filters);
  
  //---------------------------------------------------------------------------
  // Listeners
  //---------------------------------------------------------------------------
  $(window).resize(resizeInputs);
  
  $('#addFilterPrepend').click(function() { return addFilter(_G.PREPEND); });
  $('#addFilterSimple') .click(function() { return addFilter(_G.SIMPLE ); });
  $('#addFilterRegex')  .click(function() { return addFilter(_G.REGEX  ); });
  $('#addFilterGrep')   .click(function() { return addFilter(_G.GREP   ); });
  $('#addFilterSort')   .click(function() { return addFilter(_G.SORT   ); });
  $('#addFilterCase')   .click(function() { return addFilter(_G.CASE   ); });
  
  $('#filters').on('input', 'input[type=text]', updateFilters);
  $('#filters').on('change', 'input[type=checkbox]', updateFilters);
  $('#filters').on('change', 'input[type=radio]', updateFilters);
  $('#input').on('input', applyFilters);
  $('#filters').on('click', '.remove-filter', function() {
    $(this).closest('tr').remove();
    updateFilters();
    resizeInputs();
  });
  
  //hack because webfont load has issues when running from localhost
  setTimeout(resizeInputs, 500);
  
  //Select all text in output when it gets focus
  $('#output').focus(function(){
    $(this).select();
    //workaround required b/c of this webkit bug: http://code.google.com/p/chromium/issues/detail?id=4505
    if(navigator.userAgent.search('WebKit') > -1) {
      $(this).mouseup(function(e) {
        e.preventDefault();
        $(this).unbind('mouseup');
      });
    }
  });
  
  //Copy content from output to input, and rerun filter.
  $('#copyUp').click(function(){
    $('#input').val($('#output').val());
    applyFilters();
  });
  
  $('#download').on('click', function(e) {
    e.preventDefault();
    const text = $('#output').val();
    const a = document.createElement("a");
    a.style = "display: none";
    
    const url = window.URL.createObjectURL(new Blob([text], {type:'text/plain'}));
    a.href = url;
    a.download = 'replaced.txt';
    a.click();
    window.URL.revokeObjectURL(url);
    a.remove();
  });
  
  $('#copy').on('click', function(e) {
    e.preventDefault();
    const text = $('#output').val();
    navigator.clipboard.writeText(text).then(() => {}, (err) => console.error('copy error! ' + err));
  });
  
  //Utilize history API if available
  if(supportsHistoryApi()){
    $(window).bind('popstate', function(e) {
      var state = e.originalEvent.state;
      if(state != null)
        initFilters(e.originalEvent.state);
    });
    
    //Add Ctrl+S event mapping to save to address bar
    $(document).keydown(function(e) {
      if(e.ctrlKey && !e.altKey && (e.which == 83)) {
        e.preventDefault();
        saveState();
      }
    });
  }
  
  
  //---------------------------------------------------------------------------
  // Core functions
  //---------------------------------------------------------------------------
  
  
  function initFilters(filters) {
    $('#filters').empty();
    $.each(filters, function() {
      addFilter(this.type, this, true);
    });
    updateFilters();
    resizeInputs();
  }
  
  /**
   * Appends a filter to the filter controls.
   * @param type: One of the global constants PREPEND, SIMPLE, or REGEX.
   * @param args: Initial values for parameter arguments. Any unspecified paramters will use defaults.
   * @param isStartup: If set and true, skips call to updateFilters and resizeInputs. Pass true during startup, to prevent
   *                   redundant work when loading default or passed-in filters.
   */
  function addFilter(type, args, isStartup) {
    var filter = '';
    if(!$.isPlainObject(args))
      args = {};
    
    if(typeof args.enabled == 'undefined')
      args.enabled = true;
    
    if(type == _G.PREPEND) {
      if (typeof args.prepend == 'undefined')
        args.prepend = '';
      if (typeof args.append == 'undefined')
        args.append = '';
      if (typeof args.ignoreBlanks == 'undefined')
        args.ignoreBlanks = false;
      
      filter = renderTemplate($('#prependTemplate').text(), {
        rb: _G.rb,
        maxFilterId: ++_G.maxFilterId,
        argsEnabled: args.enabled ? 'checked' : '',
        argsPrepend: escapeHtml(escapeJS(args.prepend)),
        argsAppend: escapeHtml(escapeJS(args.append)),
        argsIgnoreBlanks: args.ignoreBlanks ? 'checked' : ''
      });
      
    }
    else if (type == _G.SIMPLE) {
      if (typeof args.find == 'undefined')
        args.find = '';
      if (typeof args.replace == 'undefined')
        args.replace = '';
      if (typeof args.options == 'undefined')
        args.options = 'gim';
      
      filter = renderTemplate($('#simpleTemplate').text(), {
        rb: _G.rb,
        maxFilterId: ++_G.maxFilterId,
        argsEnabled: args.enabled ? 'checked' : '',
        argsFind: escapeHtml(escapeJS(args.find)),
        argsReplace: escapeHtml(escapeJS(args.replace)),
        argsOptions: escapeHtml(args.options)
      });
    }
    else if (type == _G.REGEX) {
      if (typeof args.regex == 'undefined')
        args.regex = '';
      if (typeof args.replacement == 'undefined')
        args.replacement = '';
      if (typeof args.options == 'undefined')
        args.options = 'gim';
      
      filter = renderTemplate($('#regexTemplate').text(), {
        rb: _G.rb,
        maxFilterId: ++_G.maxFilterId,
        argsEnabled: args.enabled ? 'checked' : '',
        argsRegex: escapeHtml(args.regex),
        argsReplacement: escapeHtml(escapeJS(args.replacement)),
        argsOptions: escapeHtml(args.options)
      });
    }
    else if (type == _G.GREP) {
      if (typeof args.regex == 'undefined')
        args.regex = '';
      if (typeof args.caseSensitive == 'undefined')
        args.caseSensitive = false;
      if (typeof args.invert == 'undefined')
        args.invert = false;
      if (typeof args.onlyMatched == 'undefined')
        args.onlyMatched = false;
      
      filter = renderTemplate($('#grepTemplate').text(), {
        rb: _G.rb,
        maxFilterId: ++_G.maxFilterId,
        argsEnabled: args.enabled ? 'checked' : '',
        argsRegex: escapeHtml(args.regex),
        argsCaseSensitive: args.caseSensitive ? 'checked' : '',
        argsInvert: args.invert ? 'checked' : '',
        argsOnlyMatched: args.onlyMatched ? 'checked' : ''
      });
    }
    else if (type == _G.SORT) {
      if (typeof args.caseSensitive == 'undefined')
        args.caseSensitive = false;
      if (typeof args.reverse == 'undefined')
        args.reverse = false;
      
      filter = renderTemplate($('#sortTemplate').text(), {
        rb: _G.rb,
        maxFilterId: ++_G.maxFilterId,
        argsEnabled: args.enabled ? 'checked' : '',
        argsCaseSensitive: args.caseSensitive ? 'checked' : '',
        argsReverse: args.reverse ? 'checked' : '',
        argsRemoveDupes: args.removeDupes ? 'checked' : ''
      });
    }
    else if (type == _G.CASE) {
      if (typeof args.regex == 'undefined')
        args.regex = '';
      if (typeof args.caseOption == 'undefined')
        args.caseOption = 'upper'
      if (typeof args.options == 'undefined')
        args.options = 'gim';
      
      // handling for radio options
      args.caseOptionUpper = (args.caseOption === 'upper');
      args.caseOptionLower = (args.caseOption === 'lower');
      args.caseOptionTitle = (args.caseOption === 'title');
      
      filter = renderTemplate($('#caseTemplate').text(), {
        rb: _G.rb,
        maxFilterId: ++_G.maxFilterId,
        argsEnabled: args.enabled ? 'checked' : '',
        argsRegex: escapeHtml(args.regex),
        argsCaseOptionUpper: args.caseOptionUpper ? 'checked' : '',
        argsCaseOptionLower: args.caseOptionLower ? 'checked' : '',
        argsCaseOptionTitle: args.caseOptionTitle ? 'checked' : '',
        argsOptions: escapeHtml(args.options),
      });
    }
    
    if(filter) {
      $('#filters').append(filter);
      if(!isStartup) {
        updateFilters();
        resizeInputs();
      }
    }
    return false;
  }
  
  /**
   * Updates the _G.filters array based on current arrangement/values.
   */
  function updateFilters()
  {
    _G.filters = [];
    $('#filters>.filter').each(function() {
      var id = this.id.substr(this.id.lastIndexOf('_') + 1);
      var filter = {id: id};
      if($(this).hasClass('prepend-filter')) {
        filter.type = _G.PREPEND;
        filter.enabled = $('#enabled_' + id)[0].checked;
        filter.prepend = unescapeJS($('#prepend_' + id).val());
        filter.append = unescapeJS($('#append_' + id).val());
        filter.ignoreBlanks = $('#ignoreBlanks_' + id)[0].checked;
      }
      else if($(this).hasClass('simple-filter')) {
        filter.type = _G.SIMPLE;
        filter.enabled = $('#enabled_' + id)[0].checked;
        filter.find = unescapeJS($('#find_' + id).val());
        filter.replace = unescapeJS($('#replace_' + id).val());
        filter.options = $('#options_' + id).val();
      }
      else if($(this).hasClass('regex-filter')) {
        filter.type = _G.REGEX;
        filter.enabled = $('#enabled_' + id)[0].checked;
        filter.regex = $('#regex_' + id).val();
        filter.replacement = unescapeJS($('#replacement_' + id).val());
        filter.options = $('#options_' + id).val();
      }
      else if($(this).hasClass('grep-filter')) {
        filter.type = _G.GREP;
        filter.enabled = $('#enabled_' + id)[0].checked;
        filter.regex = $('#regex_' + id).val();
        filter.caseSensitive = $('#caseSensitive_' + id)[0].checked;
        filter.invert = $('#invert_' + id)[0].checked;
        filter.onlyMatched = $('#onlyMatched_' + id)[0].checked;
      }
      else if($(this).hasClass('sort-filter')) {
        filter.type = _G.SORT;
        filter.enabled = $('#enabled_' + id)[0].checked;
        filter.caseSensitive = $('#caseSensitive_' + id)[0].checked;
        filter.reverse = $('#reverse_' + id)[0].checked;
        filter.removeDupes = $('#removeDupes_' + id)[0].checked;
      }
      else if($(this).hasClass('case-filter')) {
        filter.type = _G.CASE;
        filter.enabled = $('#enabled_' + id)[0].checked;
        filter.regex = $('#regex_' + id).val();
        filter.caseOption = $(`input[name="caseOption_${id}"]:checked`).val() || 'upper';
        filter.options = $('#options_' + id).val();
      }

      if(typeof filter.type != 'undefined') {
        _G.filters.push(filter);
        $('#filter_' + id).toggleClass('disabled', !filter.enabled);
      }
    });
    
    $('#permalink').attr('href', Permalink.build(_G.filters));
    setIdleTimer();
    
    applyFilters();
  }
  
  /**
   * Applies all filters to the current input text.
   */
  function applyFilters()
  {
    var text = $('#input').val();
    try
    {
      $.each(_G.filters, function(i, filter)
      {
        if(filter.enabled)
        {
          if(filter.type == _G.PREPEND)
          {
            if(filter.prepend.length > 0 || filter.append.length > 0)
            {
              var regex = new RegExp(filter.ignoreBlanks ? '^(.+)$' : '^(.*)$', 'gm');
              var replace = filter.prepend.replace(/\$/g, '$$$$') + '$1' + filter.append.replace(/\$/g, '$$$$');
              text = text.replace(regex, replace);
            }
          }
          else if(filter.type == _G.SIMPLE)
          {
            if(filter.find.length > 0)
              text = text.replace(new RegExp(regexQuote(filter.find), filter.options), filter.replace);
          }
          else if(filter.type == _G.REGEX)
          {
            if(filter.regex.length > 0)
              text = text.replace(new RegExp(filter.regex, filter.options), filter.replacement);
          }
          else if(filter.type == _G.GREP)
          {
            if(filter.regex.length > 0) {
              var regex = new RegExp(filter.regex, filter.caseSensitive ? '' : 'i');
              var lines = text.split('\n');
              text = '';
              for(var i = 0; i < lines.length; i++) {
                var lineToAdd = '';
                if(filter.onlyMatched && !filter.invert) {
                  var matches = lines[i].match(regex);
                  if(matches != null)
                    lineToAdd = matches[0];
                }
                else if(regex.test(lines[i]) != filter.invert) {
                  lineToAdd = lines[i];
                }
                if(lineToAdd != '')
                  text += (text.length > 0 ? '\n' : '') + lineToAdd;
              }
            }
          }
          else if(filter.type == _G.SORT)
          {
            var options = { usage: 'sort', sensitivity: filter.caseSensitive ? 'case' : 'base' };
            var comparator = new Intl.Collator(navigator.language, options);
            
            var lines = text.split('\n');
            lines.sort(function(a,b){return (filter.reverse ? -1 : 1) * comparator.compare(a,b)});
            
            text = '';
            for(var i = 0; i < lines.length; i++) {
              if(filter.removeDupes && i > 0 && comparator.compare(lines[i], lines[i-1]) == 0)
                continue;
              
              text += (text.length > 0 ? '\n' : '') + lines[i];
            }
          }
          else if(filter.type == _G.CASE)
          {
            if(filter.regex.length > 0) {
              const regex = new RegExp(filter.regex, filter.options);
              const replacement = s => {
                if(filter.caseOption === 'upper')
                  return s.toUpperCase();
                else if(filter.caseOption === 'lower')
                  return s.toLowerCase();
                else if(filter.caseOption === 'title')
                  return s.replace(/(^|\W)(\w)(\w*)/g, (s, m1, m2, m3) => m1 + m2.toUpperCase() + m3.toLowerCase());
              };
              text = text.replace(regex, replacement);
            }
          }
        }
      });
      $('#output').val(text);
    }
    catch(err)
    {
      $('#output').val("ERROR:\n" + err);
    }
  }
  
  /**
   * Adjusts the size of the input controls so that they will fill up the whole screen.
   */
  function resizeInputs() {
    //The text areas should fill the whole vertical space
    var minHeight = 50;
    var newHeight = $(window).height() - ($('body').height() - $('#input').height() - $('#output').height());
    newHeight = Math.max(Math.floor(newHeight/2), minHeight);
    $('textarea').height(newHeight);
    
    //The flex-input elements should fill the whole horizontal space
    var minFlexWidth = 100;
    var newFlexWidth = $('body').width() - $('#filters').width() + 2 * Number($('.flex-input:first').width());
    newFlexWidth = Math.max(Math.floor(newFlexWidth/2), minFlexWidth);
    $('.flex-input').width(newFlexWidth);
  }
  
  
  function setIdleTimer() {
    if(_G.idleTimer !== null)
      clearTimeout(_G.idleTimer);
    _G.idleTimer = setTimeout(function() {
      saveState();
    }, 10000);
  }
  
  
  /**
   * Saves current filter state to the browser's address bar, if supported.
   */
  function saveState() {
    if(supportsHistoryApi()) {
      history.pushState(_G.filters, 'QuickReplace', getPermalink());
      if(_G.idleTimer !== null) {
        clearTimeout(_G.idleTimer);
        _G.idleTimer = null;
      }
    }
  }
  
  //---------------------------------------------------------------------------
  // Helper functions
  //---------------------------------------------------------------------------
  
  /**
   * A very very simple templating engine. Mimics basic funcionality of Underscore.js templates.
   * @param template Template content
   * @param params   Object where keys are strings to be searched, and values are replacements to make.
   *                 This may contain nested objects.
   * @params prefix  Only used when recursing.
   */
  function renderTemplate(template, params, prefix)
  {
    prefix = prefix || '';

    $.each(params, function(k,v) {
      if($.isPlainObject(v))
        template = renderTemplate(template, v, k + '.');
      else
        template = template.replace(new RegExp('<%=\\s*' + regexQuote(prefix + k) + '\\s*%>', 'g'), String(v).replace(/\$/g, '$$$$'));
    });
    
    //if this was not recursive call, clean up any unused template strings
    if(prefix=='')
      template = template.replace(/<%(.*?)%>/g, '');//'MISSING: [$1]');
    
    return template;
  }

  /**
   * Escapes any characters which are special characters in a regular expression.
   */
  function regexQuote(str) {
    return str.replace(/([\.\\\+\*\?\[\^\]\$\(\)\{\}\=\!\<\>\|\:\-])/g, '\\$1');
  }
  
  /**
   * Converts \n to newline, \t to tab, and \\ to \ in given string. All other
   * backslashes are left as-is.
   */
  function unescapeJS(str)
  {
    if(typeof str != 'string')
      return '';
    
    var map = {
      '\\n': '\n',
      '\\t': '\t',
      '\\\\': '\\'
    };

    return str.replace(/\\[\\nt]/g, function(m) { return map[m]; });
  }
  
  /**
   * Escapes literal newlines and tabs to \n and \t. Also escapes bare backslashes with \\.
   */
  function escapeJS(str) {
    if(typeof str != 'string')
      return '';

    var map = {
      '\\': '\\\\',
      '\n': '\\n',
      '\t': '\\t'
    };

    return str.replace(/[\\\n\t]/g, function(m) { return map[m]; });
  }
  
  /**
   * From: http://www.onlineaspect.com/2009/06/10/reading-get-variables-with-javascript/
   */
  function getUrlParam(q,s) {
    s = s ? s : window.location.search;
    var re = new RegExp('&'+q+'(?:=([^&]*))?(?=&|$)','i');
    s = s.replace(/^\?/,'&').match(re);
    if(s) 
      return typeof s[1] != 'undefined' ? decodeURIComponent(s[1]) : '';
  }
  
  function escapeHtml(str) {
    if(typeof str != 'string')
      return '';
    
    var map = {
      '&': '&amp;',
      '<': '&lt;',
      '>': '&gt;',
      '"': '&quot;',
      "'": '&#039;'
    };

    return str.replace(/[&<>"']/g, function(m) { return map[m]; });
  }
  
  function supportsHistoryApi() {
    //disabling this for now... seems to be buggy with backslashes in the url...
    return false;
    //return !!(window.history && history.pushState);
  }

  function supportsBlobUrl() {
    return !!(window.Blob && window.URL && window.URL.createObjectURL);
  }
  
  function loadResourceBundle() {
    //TODO: support parameterizing
    locale = 'en-us';
    
    var resources = {
      'en-us': {
        pageTitle: 'QuickReplace',
        addFilter: 'Add Filter',
        permalink: 'Permalink',
        permalinkTooltip: 'A URL that will link to this set of filters. Allows you to bookmark this set of filters.',
        download: '\u21E9 Download',
        downloadTooltip: 'Download the output file as a text file.',
        copy: '\u29c9 Copy',
        copyTooltip: 'Copy all output to clipboard.',
        rearrangeTooltip: 'Drag up or down to rearrange filters',
        removeTooltip: 'Remove this filter',
        enableTooltip: 'Enable/disable this filter',
        copyUp: '\u2191 Move \u2191',
        copyUpTooltip: 'Copy all output to the input field',
        
        prependType: 'Prepend',
        prependLabel: 'Prepend:',
        prependPlaceholder: '\\n,\\t allowed',
        prependTooltip: 'Text that will be inserted before every line of the input',
        appendLabel: 'Append:',
        appendPlaceholder: '\\n,\\t allowed',
        appendTooltip: 'Text that will be appended after every line of the input',
        prependIgnoreBlanks: 'Ignore blank lines:',
        prependIgnoreBlanksTooltip: 'If checked, no text will be prepended/appended on empty lines',
        
        simpleType: 'Simple',
        simpleFindLabel: 'Simple find:',
        simpleFindPlaceholder: '\\n,\\t allowed',
        simpleFindTooltip: 'Text to find',
        simpleReplaceLabel: 'Simple replace:',
        simpleReplacePlaceholder: '\\n,\\t allowed',
        simpleReplaceTooltip: 'Text to be used as replacement for matched text. Empty string is allowed.',
        simpleReplaceOptions: 'Options:',
        simpleReplaceOptionsDescription: '<strong>g</strong>lobal case-<strong>i</strong>nsensitive <strong>m</strong>ulti-line',
        
        regexType: 'Regex',
        regexFindLabel: 'Regex find:',
        regexFindPlaceholder: 'No start/end markers',
        regexFindTooltip: 'Regular expression to find',
        regexReplaceLabel: 'Regex replace:',
        regexReplacePlaceholder: 'backrefs: $1 $2 etc',
        regexReplaceTooltip: 'Replacement for matched text',
        regexReplaceOptions: 'Options:',
        regexReplaceOptionsDescription: '<strong>g</strong>lobal case-<strong>i</strong>nsensitive <strong>m</strong>ulti-line',
        
        grepType: 'Grep',
        grepLabel: 'Regex grep:',
        grepPlaceholder: 'No start/end markers',
        grepTooltip: 'Regular expression to search for in input text',
        grepOptions: 'Options:',
        grepCaseSensitiveLabel: 'Case-sensitive',
        grepCaseSensitiveTooltip: 'If checked, regular expression match will be case-sensitive',
        grepInvertLabel: 'Invert',
        grepInvertTooltip: 'If checked, only lines that do *not* match the input will be kept',
        grepOnlyMatchedLabel: 'Only Keep Matched Content',
        grepOnlyMatchedTooltip: 'If checked, only the text that matched the regular expression will be kept in the output. Has no effect on "inverted" grep.',
        
        sortType: 'Sort',
        sortTooltip: 'Sorts all lines of the input text',
        sortOptions: 'Options:',
        sortCaseSensitiveLabel: 'Case-sensitive',
        sortCaseSensitiveTooltip: 'If checked, sort will be case-sensitive: upper-case characters come before lower-case characters.',
        sortReverseLabel: 'Reverse',
        sortReverseTooltip: 'If checked, search results will be reversed (i.e. Z->A)',
        sortRemoveDupesLabel: 'Remove duplicates',
        sortRemoveDupesTooltip: 'If checked, duplicate lines will be removed from the sorted result.',
        
        caseType: 'Change Case',
        caseLabel: 'Regex find:',
        casePlaceholder: 'No start/end markers',
        caseTooltip: 'Regular expression to search for in input text',
        caseOption: 'Change Case:',
        caseOptionUpperTooltip: 'Change matching text to UPPER CASE',
        caseOptionUpper: 'UPPER CASE',
        caseOptionLowerTooltip: 'Change matching text to lower case',
        caseOptionLower: 'lower case',
        caseOptionTitleTooltip: 'Change matching text to Title Case',
        caseOptionTitle: 'Title Case',
        caseReplaceOptions: 'Options:',
        caseReplaceOptionsDescription: '<strong>g</strong>lobal case-<strong>i</strong>nsensitive <strong>m</strong>ulti-line',
      }
    };
    
    //for testing...
    //$.each(resources['en-us'], function(k,v) {
    //  resources['en-us'][k] = '[_' + k + '_]';
    //});
    
    return resources[locale] || resources['en-us'];
  }
});
//]]> 
</script>
<!--    TEMPLATES     -->
<script id="prependTemplate" type="text/html">
  <tr id="filter_<%= maxFilterId %>" class="filter prepend-filter">
    <td><span class="button handle" title="<%= rb.rearrangeTooltip %>">&#8597;</span></td>
    <td><span class="button remove-filter" title="<%= rb.removeTooltip %>">X</span></td>
    <td><input type="checkbox" id="enabled_<%= maxFilterId %>" <%= argsEnabled %> title="<%= rb.enableTooltip %>" /></td>
    <td title="<%= rb.prependTooltip %>"><label for="prepend_<%= maxFilterId %>"><%= rb.prependLabel %></label></td>
    <td title="<%= rb.prependTooltip %>">
      <input type="text" class="flex-input" id="prepend_<%= maxFilterId %>" value="<%= argsPrepend %>" placeholder="<%= rb.prependPlaceholder %>" />
    </td>
    <td title="<%= rb.appendTooltip %>"><label for="append_<%= maxFilterId %>"><%= rb.appendLabel %></label></td>
    <td title="<%= rb.appendTooltip %>">
      <input type="text" class="flex-input" id="append_<%= maxFilterId %>" value="<%= argsAppend %>" placeholder="<%= rb.appendPlaceholder %>" />
    </td>
    <td colspan="3">
      <label title="<%= rb.prependIgnoreBlanksTooltip %>" for="ignoreBlanks_<%= maxFilterId %>"><%= rb.prependIgnoreBlanks %></label> 
      <input title="<%= rb.prependIgnoreBlanksTooltip %>" type="checkbox" id="ignoreBlanks_<%= maxFilterId %>" <%= argsIgnoreBlanks %> />
    </td>
  </tr>
</script>
<script id="simpleTemplate" type="text/html">
  <tr id="filter_<%= maxFilterId %>" class="filter simple-filter">
    <td><span class="button handle" title="<%= rb.rearrangeTooltip %>">&#8597;</span></td>
    <td><span class="button remove-filter" title="<%= rb.removeTooltip %>">X</span></td>
    <td><input type="checkbox" id="enabled_<%= maxFilterId %>" <%= argsEnabled %> title="<%= rb.enableTooltip %>" /></td>
    <td title="<%= rb.simpleFindTooltip %>"><label for="find_<%= maxFilterId %>"><%= rb.simpleFindLabel %></label></td>
    <td title="<%= rb.simpleFindTooltip %>">
      <input type="text" class="flex-input" id="find_<%= maxFilterId %>" value="<%= argsFind %>" placeholder="<%= rb.simpleFindPlaceholder %>" />
    </td>
    <td title="<%= rb.simpleReplaceTooltip %>"><label for="replace_<%= maxFilterId %>"><%= rb.simpleReplaceLabel %></label></td>
    <td title="<%= rb.simpleReplaceTooltip %>">
      <input type="text" class="flex-input" id="replace_<%= maxFilterId %>" value="<%= argsReplace %>" placeholder="<%= rb.simpleReplacePlaceholder %>" />
    </td>
    <td><label for="options_<%= maxFilterId %>"><%= rb.simpleReplaceOptions %></label></td>
    <td><input type="text" class="options-input" id="options_<%= maxFilterId %>" value="<%= argsOptions %>" /></td>
    <td class="example"><%= rb.simpleReplaceOptionsDescription %></td>
  </tr>
</script>
<script id="regexTemplate" type="text/html">
  <tr id="filter_<%= maxFilterId %>" class="filter regex-filter">
    <td><span class="button handle" title="<%= rb.rearrangeTooltip %>">&#8597;</span></td>
    <td><span class="button remove-filter" title="<%= rb.removeTooltip %>">X</span></td>
    <td><input type="checkbox" id="enabled_<%= maxFilterId %>" <%= argsEnabled %> title="<%= rb.enableTooltip %>" /></td>
    <td title="<%= rb.regexFindTooltip %>"><label for="regex_<%= maxFilterId %>"><%= rb.regexFindLabel %></label></td>
    <td title="<%= rb.regexFindTooltip %>">
      <input type="text" class="flex-input" id="regex_<%= maxFilterId %>" value="<%= argsRegex %>" placeholder="<%= rb.regexFindPlaceholder %>" />
    </td>
    <td title="<%= rb.regexReplaceTooltip %>"><label for="replacement_<%= maxFilterId %>"><%= rb.regexReplaceLabel %></label></td>
    <td title="<%= rb.regexReplaceTooltip %>">
      <input type="text" class="flex-input" id="replacement_<%= maxFilterId %>" value="<%= argsReplacement %>" placeholder="<%= rb.regexReplacePlaceholder %>" />
    </td>
    <td><label for="options_<%= maxFilterId %>"><%= rb.regexReplaceOptions %></label></td>
    <td><input type="text" class="options-input" id="options_<%= maxFilterId %>" value="<%= argsOptions %>" /></td>
    <td class="example"><%= rb.regexReplaceOptionsDescription %></td>
  </tr>
</script>
<script id="grepTemplate" type="text/html">
  <tr id="filter_<%= maxFilterId %>" class="filter grep-filter">
    <td><span class="button handle" title="<%= rb.rearrangeTooltip %>">&#8597;</span></td>
    <td><span class="button remove-filter" title="<%= rb.removeTooltip %>">X</span></td>
    <td><input type="checkbox" id="enabled_<%= maxFilterId %>" <%= argsEnabled %> title="<%= rb.enableTooltip %>" /></td>
    <td title="<%= rb.grepTooltip %>"><label for="grep_<%= maxFilterId %>"><%= rb.grepLabel %></label></td>
    <td title="<%= rb.grepTooltip %>">
      <input type="text" class="flex-input" id="regex_<%= maxFilterId %>" value="<%= argsRegex %>" placeholder="<%= rb.grepPlaceholder %>" />
    </td>
    <td><%= rb.grepOptions %></td>
    <td colspan="4">
      <label title="<%= rb.grepCaseSensitiveTooltip %>" for="caseSensitive_<%= maxFilterId %>"><%= rb.grepCaseSensitiveLabel %></label>
      <input title="<%= rb.grepCaseSensitiveTooltip %>" type="checkbox" id="caseSensitive_<%= maxFilterId %>" <%= argsCaseSensitive %> /> | 
      <label title="<%= rb.grepInvertTooltip %>" for="invert_<%= maxFilterId %>"><%= rb.grepInvertLabel %></label>
      <input title="<%= rb.grepInvertTooltip %>" type="checkbox" id="invert_<%= maxFilterId %>" <%= argsInvert %> /> |
      <label title="<%= rb.grepOnlyMatchedTooltip %>" for="onlyMatched_<%= maxFilterId %>"><%= rb.grepOnlyMatchedLabel %></label>
      <input title="<%= rb.grepOnlyMatchedTooltip %>" type="checkbox" id="onlyMatched_<%= maxFilterId %>" <%= argsOnlyMatched %> />
    </td>
  </tr>
</script>
<script id="sortTemplate" type="text/html">
  <tr id="filter_<%= maxFilterId %>" class="filter sort-filter">
    <td><span class="button handle" title="<%= rb.rearrangeTooltip %>">&#8597;</span></td>
    <td><span class="button remove-filter" title="<%= rb.removeTooltip %>">X</span></td>
    <td><input type="checkbox" id="enabled_<%= maxFilterId %>" <%= argsEnabled %> title="<%= rb.enableTooltip %>" /></td>
    <td><%= rb.sortOptions %></td>
    <td colspan="6">
      <label title="<%= rb.sortCaseSensitiveTooltip %>" for="caseSensitive_<%= maxFilterId %>"><%= rb.sortCaseSensitiveLabel %></label>
      <input title="<%= rb.sortCaseSensitiveTooltip %>" type="checkbox" id="caseSensitive_<%= maxFilterId %>" <%= argsCaseSensitive %> /> |
      <label title="<%= rb.sortReverseTooltip %>" for="reverse_<%= maxFilterId %>"><%= rb.sortReverseLabel %></label>
      <input title="<%= rb.sortReverseTooltip %>" type="checkbox" id="reverse_<%= maxFilterId %>" <%= argsReverse %> /> |
      <label title="<%= rb.sortRemoveDupesTooltip %>" for="removeDupes_<%= maxFilterId %>"><%= rb.sortRemoveDupesLabel %></label>
      <input title="<%= rb.sortRemoveDupesTooltip %>" type="checkbox" id="removeDupes_<%= maxFilterId %>" <%= argsRemoveDupes %> />
    </td>
  </tr>
</script>
<script id="caseTemplate" type="text/html">
  <tr id="filter_<%= maxFilterId %>" class="filter case-filter">
    <td><span class="button handle" title="<%= rb.rearrangeTooltip %>">&#8597;</span></td>
    <td><span class="button remove-filter" title="<%= rb.removeTooltip %>">X</span></td>
    <td><input type="checkbox" id="enabled_<%= maxFilterId %>" <%= argsEnabled %> title="<%= rb.enableTooltip %>" /></td>
    <td title="<%= rb.caseTooltip %>"><label for="case_<%= maxFilterId %>"><%= rb.caseLabel %></label></td>
    <td title="<%= rb.caseTooltip %>">
      <input type="text" class="flex-input" id="regex_<%= maxFilterId %>" value="<%= argsRegex %>" placeholder="<%= rb.casePlaceholder %>" />
    </td>
    <td><%= rb.caseOption %></td>
    <td>
      <label class="radio" title="<%= rb.caseOptionUpperTooltip %>" for="caseOption_upper_<%= maxFilterId %>">
        <input type="radio" id="caseOption_upper_<%= maxFilterId %>" name="caseOption_<%= maxFilterId %>" value="upper" <%= argsCaseOptionUpper %> />
        <%= rb.caseOptionUpper %>
      </label>
      <label class="radio" title="<%= rb.caseOptionLowerTooltip %>" for="caseOption_lower_<%= maxFilterId %>">
        <input type="radio" id="caseOption_lower_<%= maxFilterId %>" name="caseOption_<%= maxFilterId %>" value="lower" <%= argsCaseOptionLower %> />
        <%= rb.caseOptionLower %>
      </label>
      <label class="radio" title="<%= rb.caseOptionTitleTooltip %>" for="caseOption_title_<%= maxFilterId %>">
        <input type="radio" id="caseOption_title_<%= maxFilterId %>" name="caseOption_<%= maxFilterId %>" value="title" <%= argsCaseOptionTitle %> />
        <%= rb.caseOptionTitle %>
      </label>
    </td>
    <td><label for="options_<%= maxFilterId %>"><%= rb.caseReplaceOptions %></label></td>
    <td><input type="text" class="options-input" id="options_<%= maxFilterId %>" value="<%= argsOptions %>" /></td>
    <td class="example"><%= rb.caseReplaceOptionsDescription %></td>  </tr>
</script>
<!--    END TEMPLATES     -->
</head>
<body>
<table>
  <tbody id="filters">
  </tbody>
</table>
<div id="controls">
  <span id="addFilterLabel">Add filter:</span>
  <input type="submit" id="addFilterPrepend" value="Prepend" />
  <input type="submit" id="addFilterSimple" value="Simple" />
  <input type="submit" id="addFilterRegex" value="Regex" />
  <input type="submit" id="addFilterGrep" value="Grep" />
  <input type="submit" id="addFilterSort" value="Sort" />
  <input type="submit" id="addFilterCase" value="Case" />
  | <a href="#" id="permalink">Permalink</a>
  | <a href="#" download="replaced.txt" id="download">Download</a>
  | <a href="#" id="copy">Copy</a>
</div>
<textarea id="input" wrap="off"></textarea>
<input type="submit" id="copyUp" value="&uarr; Move &uarr;" />
<textarea id="output" readonly="readonly" wrap="off"></textarea>
<div id="copyright">&copy; Kip Robinson. Details at <a href="https://github.com/kiprobinson/QuickReplace">GitHub</a>.</div>
</body>
</html>